/ANC3-MiniProject-V1-A-Donner/build/
/ANC3-MiniProject-V1-A-Donner/dist/
/ANC3-MiniProject-V1-A-Donner/nbproject/private/
/ANC3-MiniProject-V1-A-Donner/nbproject/UPDATED.TXT
/ANC3-MiniProject-V1-A-Donner/nbproject/build-impl.xml
/ANC3-MiniProject-V1-A-Donner/nbproject/genfiles.properties
/ANC3-MiniProject-V1-A-Donner/nbproject/jfx-impl.xml
/ANC3-MiniProject-V1-A-Donner/nbproject/jfx-impl_backup_2.xmlml
/ANC3-MiniProject-V1-A-Donner/nbproject/jfx-impl_backup_2.xml


